.theme {
    text-align: left;
    color: #11748e;
}

main {
    border-style: solid;
    color: #11748e;
    text-align: center;
}

.departure {
    color: #11748e;
}

div,
footer {
    text-align: center;
}